*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-size: 12px;
    font-family: Dotum,'돋움',Helvetica,"Apple SD Gothic Neo",sans-serif;
}
a{
    text-decoration:none;
}
ul{
    list-style:none;
}
.blind{
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}
.none{
    display:none;
}
header{
    height:178px;
    border-bottom: 1px solid #d1d8e4;
    background: #fff;
}
.header-center{
    position:relative;
    margin:0 auto;
    width:1080px;
    height:130px;
}
#header-links{
    width:242px;
    position:absolute;
    top:11px;
    right:-5px;
}
#header-links a{
    display:inline-block;
    color: #888;
    letter-spacing: -1px;
    font-size: 11px;
    line-height: 22px;
}
#header-links .al_favorit{
    float:left;
    widtH:116px;
    font-size:11px;
}
#header-links .al_co{
    display:inline-block;
    margin-left: 5px;
    width: 6px;
    height: 7px;
    background-position: -118px -84px;
    background-image: url(https://s.pstatic.net/static/www/img/uit/2020/sp_main_v200116.png);
    background-repeat: no-repeat;
}
#header-links .al_bar{
    float: left;
    margin: 5px 4px 0 9px;
    width: 1px;
    height: 11px;
    background: #ebeef3;
}
#header-links .al_jr{
    float:left;
    padding:5px;
    width:68px;
    font-size:11px;
}
#header-links .al_happybean{

    float:left;
    padding:5px;
    width:44px;
    font-size:11px;
}
#header-links a:nth-child(3) span:first-child{
    background-image: url(https://s.pstatic.net/static/www/img/uit/2020/sp_main_v200116.png);
    background-repeat: no-repeat;
    width: 58px;
    height: 11px;
    background-position: -78px -158px;
    display:block;
}
#header-links a:nth-child(4) span:first-child{
    width: 34px;
    height: 11px;
    background-position: -200px -136px;
    background-image: url(https://s.pstatic.net/static/www/img/uit/2020/sp_main_v200116.png);
    background-repeat: no-repeat;
    display:block;
}
#header-links a:nth-child(3) span:first-child:hover{
background-position: -200px 0;
}
#header-links a:nth-child(4) span:first-child:hover{
    background-position: -200px -115px;
}


#header-logo{
    width: 198px;
    height: 48px;
    display:inline-block;
    background:url("images/sp_search.png") -4px -4px no-repeat;
    vertical-align:middle;
    position: absolute;
    top: 50%;
    left: -2px;
    margin-top: -25px;
}

#header-logo h1{
    height:48px;
    
}
#header-searchBar{
    width:521px;
    height:49px;
    display:inline-block;   
    vertical-align:middle;
    position: absolute;
    top: 50%;
    left: 219px;
    margin-top: -20px;
}
#header-searchBar fieldset{
    border:0;
    position:relative;
   
}
.green_window{
    display: inline-block;
    width: 474px;
    height: 49px;
    border: 2px solid #03cf5d;/*hex표기법*/
    background-color: #fff;
}
#header-searchBar fieldset input{
    margin: 12px 0 0 9px;
    width: 405px;
    height: 23px;
    outline: 0;
    border: 0;
    color: #000;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}
#header-searchBar fieldset button{
    position:absolute;
    top:0;
    right:0px;
    width:49px;
    height:49px;
    border:0;
    outline:0;
    background:#03cf5d;
}
#header-searchBar #kbd_btn{
    position: absolute;
    top: 50%;
    right: 76px;
    margin-top: -21px;
    padding: 15px 6px;
}
#header-searchBar .arr_btn{
    position: absolute;
    top: 50%;
    right: 49px;
    margin-top: -21px;
    padding: 19px 12px 19px 6px;
}
#header-searchBar .ico_keybord{
    display: block;
    width: 19px;
    height: 11px;
    background-position: -33px -60px;
    background-image: linear-gradient(transparent,transparent),url(https://s.pstatic.net/static/www/img/uit/2019/sp_search.svg);
    background-repeat: no-repeat;
}
#header-searchBar .ico_arr{
    display:block;
    background-image: linear-gradient(transparent,transparent),url(https://s.pstatic.net/static/www/img/uit/2019/sp_search.svg);
    background-repeat: no-repeat;
    width: 9px;
    height: 4px;
    background-position: -87px -60px;
}
#search-img{
    display:inline-block;
    background:url("images/sp_search.png");
    width:21px;
    height:21px;
    background-position: -4px -59px
}
nav{
    height:47px;
    position: relative;
    z-index: 100;
    border-top: 1px solid #f1f3f6;
    background: #fff;
}
nav .nav-center{
    position: relative;
    margin: 0 auto;
    width: 1080px;
    zoom: 1;
    height:32px;
}
nav ul{
    position:relative;
    float:left;
    padding-top: 16px;
    padding-left: 4px;
    box-sizing:content-box;
}
nav ul:first-child{
    width:303px;
    height:32px;
}
nav ul:last-child{
    width:366px;
    height:32px;
    
}
nav li{ 
    float:left;
}

nav li span:first-child{
    background-image: url(https://s.pstatic.net/static/www/img/uit/2020/sp_nav_v200110.png);
    background-repeat: no-repeat;
    display:inline-block;
}
nav ul:first-child{

}
nav ul:first-child li:nth-child(2){
    padding-left:14px;
}
nav ul:first-child li:nth-child(3){
    padding-left:14px;
}
nav ul:first-child li:nth-child(4){
    padding-left:14px;
}
nav ul:first-child li:nth-child(5){
    padding-left:14px;
}
nav ul:first-child li:nth-child(6){
    padding-left:14px;
}
nav ul:first-child li:last-child{
    padding-left:14px;
}


nav ul:first-child li:first-child span:first-child{
    width:25px;
    height:16px;
    background-position: -294px -156px;
    margin:0;
}
nav ul:first-child li:nth-child(2) span:first-child{
    width:27px;
    height:16px;
    background-position: -234px -234px;
}
nav ul:first-child li:nth-child(3) span:first-child{
    width: 40px;
    height: 16px;
    background-position: -50px -182px;
}
nav ul:first-child li:nth-child(4) span:first-child{
    width: 40px;
    height: 16px;
    background-position: -128px -130px;}

    .nav-menu ul:first-child li:nth-child(5) span:first-child{
    width: 26px;
    height: 16px;
    background-position: -111px -260px;
}
nav ul:first-child li:nth-child(6) span:first-child{
    width: 25px;
    height: 16px;
    background-position: -294px -208px
}
nav ul:first-child li:last-child span:first-child{
    margin-top: -1px;
    width: 32px;
    height: 16px;
    background-position: -200px -182px;
}
nav ul:nth-child(2) li{
    padding-left:14px;
}
nav ul:nth-child(2) li:first-child{
    padding-left:10px;
}

nav ul:nth-child(2) li:first-child span:first-child{
    width: 26px;
    height: 16px;
    background-position: -294px -26px;
}
nav ul:nth-child(2) li:nth-child(2) span:first-child{
    width: 28px;
    height: 16px;
    background-position: -85px -234px;
}
nav ul:nth-child(2) li:nth-child(3) span:first-child{
    width: 26px;
    height: 16px;
    background-position: -255px -260px;
}
nav ul:nth-child(2) li:nth-child(4) span:first-child{
    width: 40px;
    height: 16px;
    background-position: -125px -156px;
}
nav ul:nth-child(2) li:nth-child(5) span:first-child{
    width: 27px;
    height: 16px;
    background-position: -123px -234px;
}
nav ul:nth-child(2) li:nth-child(6) span:first-child{
    width: 27px;
    height: 16px;
    background-position: -37px -260px;
}
nav ul:nth-child(2) li:nth-child(7) span:first-child{
    width: 26px;
    height: 16px;
    background-position: -219px -260px;
}
nav ul:nth-child(2) li:nth-child(8) span:first-child{
    width: 13px;
    height: 16px;
    background-position: -294px -260px;
}
nav ul:nth-child(2) li:last-child span:first-child{
    width: 27px;
    height: 16px;
    background-position: -74px -260px;
}
nav ul{
    box-sizing:border-box;
}
nav .an_bar{
    display:inline-block;
    margin: 18px 16px 0;
    width: 1px;
    height: 14px;
    background: #ebeef3;
}
nav .an_mtxt{
    display: inline-block;
    width: 55px;
    height: 16px;
    background-position: 0 -130px;
    background-image: url(https://s.pstatic.net/static/www/img/uit/2020/sp_nav_v200110.png);
    background-repeat: no-repeat;
    position:relative;
    left:-4px;

}
nav #search-ranking{
    font-size: 13px;
    position: absolute;
    overflow: hidden;
    margin-top: -10px;
    margin-left: 342px;
    width: 198px;
    height: 20px;
    top: 23px;
    left: 550px;
    bottom: 13px;
}
nav #rank-number{
    margin-top: -9px;
    color: #00ab33;
    font-size: 16px;
}


main{
    margin: 0 auto;
    padding: 8px 10px 0;
    width: 1100px;
    text-align: left;
    zoom: 1;
    display:absolute;
}
main .left{
    float: left;
    width: 740px;

}
main .left #main_ad{
    position: relative;
    height: 120px;
    background:#000;
}
main .left #main_news_section{
    overflow: hidden;
    padding-top: 8px;
}
main .left #main_newstop{
    position: relative;
    margin-bottom: 8px;
    height: 46px;
    border: 1px solid #dee3eb;
    background: #fff;
}
main .left #main_newstop .castflash{
    position: relative;
    padding: 15px 0 0 16px;
    zoom: 1;
}
.cf_title{
    float:left;
}
.cf_a{
    display: block;
    margin-right: 12px;
    color: #000;
    text-decoration: none;
    letter-spacing: -1px;
    font-weight: 700;
    font-size: 14px;
    font-family: NanumSquare,Dotum,"돋움",Helvetica,AppleSDGothicNeo,sans-serif;
    line-height: 16px;
}
.cf_ico{
    display: inline-block;
    margin-left: 8px;
    width: 5px;
    height: 9px;
    background-position: -218px -23px;
    vertical-align: middle;
    background-image: url(https://s.pstatic.net/static/www/img/uit/2020/sp_newscast.png);
    background-repeat: no-repeat;
}
.cast_atc{
    float:left;
    overflow: hidden;
    margin-top: -2px;
    width: 340px;
    height: 20px;
    
}
.cast_atc p{
    line-height:20px;
}
.cast_link{
    position: absolute;
    top: 50%;
    right: 2px;
    margin-top: -7px;
    zoom: 1;
}
.cl_item{
    float:left;
    margin-right:14px;
    list-style:none;
}

.cl_a{
    display: block;
    height: 15px;
    color: #666;
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    font-family: NanumSquare,Dotum,"돋움",Helvetica,AppleSDGothicNeo,sans-serif;
    line-height: 16px;
}
.cl_news{
    color:#00ab33;
}
main .left #main_news{
    position: relative;
    height: 246px;
    border: 1px solid #dee3eb;
    background: #fff;

}
main .right{
    position: relative;
    float: right;
    width: 332px;

}
main .right #main_login{
    width:334px;
    height:122px;
    border: 1px solid #dee3eb;
    background: #fff;
}
main .login_local{
    padding:15px 25px;
    width:330px;
    height:92.6px;
}
main .login_txt{
display:inline-block;
width:280px;
height:13.6px;
color: #888;
    font-size: 12px;
    line-height: 14px;

}
main .login_button{
display:inline-block;
width:280px;
height:37px;
margin-top:12px;
}
main .login_img{
    background-image: url(https://s.pstatic.net/static/www/img/2018/sp_login_v180727.png);
    background-repeat: no-repeat;
    width: 280px;
    height: 37px;
    background-position: 0 -47px;
    display:block;
}
main .login_link{
    display: block;
    font-size: 12px;
    line-height: 38px;
    color:#666;
}

main .link_join{
    height:37.6px;
    float:right;
    color:#666;
}
main .link_join:hover{
    text-decoration:underline;
}
main .link_find a{
    color:#666;
}
main .link_find a:hover{
    text-decoration:underline;
}

main.link
main .right #main_weather{
    position: relative;
    margin: 8px 0;
    height: 142px;
    border: 1px solid #dee3eb;
    background: #fff;
}
main .right #main_subad{
    position: relative;
    height: 152px;
    border: 1px solid #dee3eb;
    background: #fff;
}
main .bottom{
    clear: both;
    padding-top: 8px;
    text-align: left;
    zoom: 1;
}
main .bottom #themecast{
    position: relative;
    float: left;
    width: 740px;
    height: 884px;

    border: 1px solid #dee3eb;
    background: #fff;
}
#subject-top{
    display:inline-block;
    width:100%;
    border-bottom: 1px solid #dee3eb;
}
#subject-all,#subject-list,#subject-prev,#subject-next{
    
    float:left; 
    height:45px;
}
#subject-all,#subject-prev,#subject-next{
    position:relative;
width:45px;
background:white;
border:none;
border-left: 1px solid #dee3eb;
}
main .bottom #subject-all{
border-right:1px solid #dee3eb;
}
.ac_bicon{
    background-image: url(https://s.pstatic.net/static/www/img/uit/2019/sp_themecast_v191206.png);
    background-repeat: no-repeat;
}
#whole-subject-img{
    position: absolute;
    top: 15px;
    left: 12px;
    width: 20px;
    height: 14px;
    background-position: -218px -257px;
}
#subject-prev-img{
    position: absolute;
    top: 15px;
    left: 16px;
    width: 8px;
    height: 16px;
    background-position: -320px 0
}
#subject-next-img{
    position: absolute;
    top: 15px;
    left: 16px;
    width: 8px;
    height: 16px;
    background-position: -320px -52px;

}
main .bottom #subject-list{
    width:603px;
}
#subject-list li{
    float:left;
}
main .bottom #subject-prev{

}
main .botoom #subject-next{

}
main .bottom #shop_section{
    position: relative;
    float: right;
    width: 332px;
    height: 884px;
    border: 1px solid #dee3eb;
    background: #fff;
}
main iframe{
    border:0;
    width:100%;
    height:100%;
}
main .banner{
    clear: both;
    padding-top: 8px;
    text-align: left;
    zoom: 1;
}
main .banner #banner_left{
    position: relative;
    float: left;
    width: 740px;
    height: 130px;
    border: 1px solid #dee3eb;
    background: #fff;
}
main .banner #banner_right{
    position: relative;
    float: right;
    width: 332px;
    height: 130px;
   
    background: #000;
}
footer{
    margin-top: 8px;
    border-top: 1px solid #e3e7ee;
    background: #fff;
    text-align: left;
}
footer .notice{
    position: relative;
    border-bottom: 1px solid #f1f3f6
}
footer .aside{
    position: relative;
    margin: 0 auto;
    width: 1080px;
    height: 110px;
    zoom: 1
}
footer .address{
    position: relative;
    border-top: 1px solid #f1f3f6;

}
