#header-center{
    margin:0 auto;
    width:844.8px;
    height:100%;
}
#header-links{
    width:242px;
}
#header-links a{
    display:inline-block;
}
.al_favorit{
widtH:116px;
font-size:11px;

}
.al_jr{
    width:68px;
    font-size:11px;
}
.al_happybean{
    width:44px;
    font-size:11px;
}
#header-logo{
    width:153px;
    display:inline-block;

}
#header-searchBar{
    width:400px;
    display:inline-block;
    
}